@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <!--When the backend is ready, put an if for user logged or not-->
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-person-arms-up" aria-hidden="true"></span> Log In
            </NavLink>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>